<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">



 <preference for="Magento/Sales/Block/Order/View" type="Form/DataFormModule/Block/Order/View"/>
<preference for="Magento/Sales/Model/Order" type="Form/DataFormModule/Model/Order"/>
<type name="Magento\Catalog\Model\Product">
<plugin name="afterGetName" type="Form\DataFormModule\Plugin\Product" sortOrder="1" />
</type>



<type name="Magento\Checkout\Model\Cart">
<plugin name="beforeAddProduct" type="Form\DataFormModule\Plugin\Cart" sortOrder="1" />
</type>
</config>
